# Environment
.env

# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# Weights & Biases
wandb/
src/wandb/

# Generated Data Files
data/google_trends.csv
data/trend_report.json
data/analysis_report.json
data/analysis_report.txt